<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tinh-thanh-heading" data-cy="TinhThanhCreateUpdateHeading">Tạo mới hoặc chỉnh sửa tỉnh thành</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idTinhThanh">Id Tỉnh thành</label>
          <input
            type="number"
            class="form-control"
            name="idTinhThanh"
            id="field_idTinhThanh"
            data-cy="idTinhThanh"
            formControlName="idTinhThanh"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Tên</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Huỷ</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
