<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sanPham">
      <h2 data-cy="sanPhamDetailsHeading"><span>San Pham</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sanPham.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ sanPham.name }}</span>
        </dd>
        <dt><span>Sap Code</span></dt>
        <dd>
          <span>{{ sanPham.sapCode }}</span>
        </dd>
        <dt><span>Rd Code</span></dt>
        <dd>
          <span>{{ sanPham.rdCode }}</span>
        </dd>
        <dt><span>Ten Chung Loai</span></dt>
        <dd>
          <span>{{ sanPham.tenChungLoai }}</span>
        </dd>
        <dt><span>Don Vi</span></dt>
        <dd>
          <span>{{ sanPham.donVi }}</span>
        </dd>
        <dt><span>To San Xuat</span></dt>
        <dd>
          <span>{{ sanPham.toSanXuat }}</span>
        </dd>
        <dt><span>Phan Loai</span></dt>
        <dd>
          <span>{{ sanPham.phanLoai }}</span>
        </dd>
        <dt><span>Nhom San Pham</span></dt>
        <dd>
          <div *ngIf="sanPham.nhomSanPham">
            <a [routerLink]="['/nhom-san-pham', sanPham.nhomSanPham?.id, 'view']">{{ sanPham.nhomSanPham?.id }}</a>
          </div>
        </dd>
        <dt><span>Kho</span></dt>
        <dd>
          <div *ngIf="sanPham.kho">
            <a [routerLink]="['/kho', sanPham.kho?.id, 'view']">{{ sanPham.kho?.id }}</a>
          </div>
        </dd>
        <dt><span>Nganh</span></dt>
        <dd>
          <div *ngIf="sanPham.nganh">
            <a [routerLink]="['/nganh', sanPham.nganh?.id, 'view']">{{ sanPham.nganh?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/san-pham', sanPham.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
