<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="chungLoai">
      <h2 data-cy="chungLoaiDetailsHeading"><span>Chủng loại</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ chungLoai.id }}</span>
        </dd>
        <dt><span>Mã chủng loại</span></dt>
        <dd>
          <span>{{ chungLoai.maChungLoai }}</span>
        </dd>
        <dt><span>Tên chủng loại</span></dt>
        <dd>
          <span>{{ chungLoai.tenChungLoai }}</span>
        </dd>
        <dt><span>Ngày tạo</span></dt>
        <dd>
          <span>{{ chungLoai.ngayTao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ chungLoai.username }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Trở lại</span>
      </button>

      <button type="button" [routerLink]="['/chung-loai', chungLoai.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Chỉnh sửa</span>
      </button>
    </div>
  </div>
</div>
