<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chung-loai-heading" data-cy="ChungLoaiCreateUpdateHeading">Tạo mới hoặc chỉnh sửa Chủng loại</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maChungLoai">Mã chủng loại</label>
          <input
            type="text"
            class="form-control"
            name="maChungLoai"
            id="field_maChungLoai"
            data-cy="maChungLoai"
            formControlName="maChungLoai"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tenChungLoai">Tên chủng loại</label>
          <input
            type="text"
            class="form-control"
            name="tenChungLoai"
            id="field_tenChungLoai"
            data-cy="tenChungLoai"
            formControlName="tenChungLoai"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ngayTao">Ngày tạo</label>
          <div class="d-flex">
            <input
              id="field_ngayTao"
              data-cy="ngayTao"
              type="datetime-local"
              class="form-control"
              name="ngayTao"
              formControlName="ngayTao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Huỷ bỏ</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
