<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="danhSachTinhTrang">
      <h2 data-cy="danhSachTinhTrangDetailsHeading"><span>Danh Sach Tinh Trang</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.id }}</span>
        </dd>
        <dt><span>Ten Tinh Trang Phan Loai</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.tenTinhTrangPhanLoai }}</span>
        </dd>
        <dt><span>Ngay Tao</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.ngayTao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Ngay Cap Nhat</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.ngayCapNhat | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.username }}</span>
        </dd>
        <dt><span>Trang Thai</span></dt>
        <dd>
          <span>{{ danhSachTinhTrang.trangThai }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/danh-sach-tinh-trang', danhSachTinhTrang.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
