<div id="demo-container" class="container-slickgrid col-md-12 content">
  <h2 id="page-heading">Tổng hợp</h2>
  <div class="btn-header d-flex justify-content-end">
    <button class="btn btn-outline-primary btn-option btn-addTN me-2" (click)="openPopupViewCTL()">Xem chi tiết lỗi</button>
  </div>
  <div class="btn-header d-flex justify-content-between">
    <form id="dateForm">
      <div style="width: 20rem" class="search-inp">
        <label class="form-label-header">Ngày bắt đầu</label>
        <input
          class="form-control"
          type="date"
          id="startDate"
          [(ngModel)]="startDates"
          [ngModelOptions]="{ standalone: true }"
          (change)="changeDate()"
          style="width: 15rem"
        />
      </div>
      <div style="width: 20rem" class="search-inp">
        <label class="form-label-header">Ngày kết thúc</label>
        <input
          class="form-control"
          type="date"
          id="endDate"
          [(ngModel)]="endDates"
          [ngModelOptions]="{ standalone: true }"
          (change)="changeDate()"
          style="width: 15rem"
        />
      </div>
      <!-- <input type="submit" (click)="changeDate()" /> -->
      <button class="btn btn-outline-primary btn-option btn-addTN me-2" style="height: 2.5rem" (click)="changeDate()">Apply</button>
    </form>
    <button class="btn btn-outline-primary btn-option btn-addTN me-2" style="height: 2.5rem; margin-left: 44rem" (click)="exportToExcel()">
      Export Excel
    </button>
    <button class="btn btn-outline-primary btn-option btn-addTN me-2" style="height: 2.5rem" (click)="getExportExcel()">
      Xuất báo cáo
    </button>

    <!-- <button class="btn btn-outline-primary btn-option btn-addTN me-2" style="height: 2.5rem" (click)="getDonBaoHanhInfo()">Test api</button> -->
  </div>
  <angular-slickgrid
    gridId="tong-hop"
    [columnDefinitions]="columnDefinitions"
    [gridOptions]="gridOptions"
    [dataset]="chiTietSanPhamTiepNhan"
    (onBeforeSearchChange)="onSearchChange($event)"
    (onAngularGridCreated)="angularGridReady($event)"
  ></angular-slickgrid>
</div>

<div class="table-responsive popup-background" role="dialog" *ngIf="popupViewCTL === true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>Chi tiết lỗi sản phẩm</h2>
      <hr />
      <span class="close-btn" (click)="closePopupViewCTL()">&times;</span>
    </div>
    <div class="popup-content">
      <form>
        <angular-slickgrid
          gridId="chiTietLoi"
          [columnDefinitions]="conlumDefinitionCTL"
          [gridOptions]="gridOptionCTL"
          [dataset]="chiTietSanPhamTiepNhanCTL"
        ></angular-slickgrid>
      </form>
    </div>
  </div>
</div>
