.search-inp {
  width: 15rem;
  margin-bottom: 0 !important;

  label {
    font-weight: 500;
  }

  input {
    width: 100%;
  }
}
::ng-deep .angular-slickgrid table td {
  white-space: normal !important;
  word-break: break-word !important;
}

::ng-deep .slick-cell {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  line-height: 1.4;
}
#tong-hop .slick-header,
#chiTietLoi .slick-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
// .popup-background {
//   max-height: 100vh;
//   overflow-y: auto;
//   position: relative;
// }
// ::ng-deep .card{
//   overflow: hidden;
// }
