<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="phanTichLoi">
      <h2 data-cy="phanTichLoiDetailsHeading"><span>Phan Tich Loi</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ phanTichLoi.id }}</span>
        </dd>
        <dt><span>So Luong</span></dt>
        <dd>
          <span>{{ phanTichLoi.soLuong }}</span>
        </dd>
        <dt><span>Ngay Phan Tich</span></dt>
        <dd>
          <span>{{ phanTichLoi.ngayPhanTich | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ phanTichLoi.username }}</span>
        </dd>
        <dt><span>Ghi Chu</span></dt>
        <dd>
          <span>{{ phanTichLoi.ghiChu }}</span>
        </dd>
        <dt><span>Loi</span></dt>
        <dd>
          <div *ngIf="phanTichLoi.loi">
            <a [routerLink]="['/loi', phanTichLoi.loi?.id, 'view']">{{ phanTichLoi.loi?.id }}</a>
          </div>
        </dd>
        <dt><span>Phan Tich San Pham</span></dt>
        <dd>
          <div *ngIf="phanTichLoi.phanTichSanPham">
            <a [routerLink]="['/phan-tich-san-pham', phanTichLoi.phanTichSanPham?.id, 'view']">{{ phanTichLoi.phanTichSanPham?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/phan-tich-loi', phanTichLoi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
