<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="nganh">
      <h2 data-cy="nganhDetailsHeading"><span>Ngành</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nganh.id }}</span>
        </dd>
        <dt><span>Mã ngành</span></dt>
        <dd>
          <span>{{ nganh.maNganh }}</span>
        </dd>
        <dt><span>Tên ngành</span></dt>
        <dd>
          <span>{{ nganh.tenNganh }}</span>
        </dd>
        <dt><span>Ngày tạo</span></dt>
        <dd>
          <span>{{ nganh.ngayTao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ nganh.username }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Trở lại</span>
      </button>

      <button type="button" [routerLink]="['/nganh', nganh.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Chỉnh sửa</span>
      </button>
    </div>
  </div>
</div>
