<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nhom-loi-heading" data-cy="NhomLoiCreateUpdateHeading">Tạo mới hoặc chỉnh sửa Nhóm lỗi</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maNhomLoi">Mã nhóm lỗi</label>
          <input type="text" class="form-control" name="maNhomLoi" id="field_maNhomLoi" data-cy="maNhomLoi" formControlName="maNhomLoi" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tenNhomLoi">Tên nhóm lỗi</label>
          <input
            type="text"
            class="form-control"
            name="tenNhomLoi"
            id="field_tenNhomLoi"
            data-cy="tenNhomLoi"
            formControlName="tenNhomLoi"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ngayTao">Ngày tạo</label>
          <div class="d-flex">
            <input
              id="field_ngayTao"
              data-cy="ngayTao"
              type="datetime-local"
              class="form-control"
              name="ngayTao"
              formControlName="ngayTao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ngayCapNhat">Ngày cập nhật</label>
          <div class="d-flex">
            <input
              id="field_ngayCapNhat"
              data-cy="ngayCapNhat"
              type="datetime-local"
              class="form-control"
              name="ngayCapNhat"
              formControlName="ngayCapNhat"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ghiChu">Ghi chú</label>
          <input type="text" class="form-control" name="ghiChu" id="field_ghiChu" data-cy="ghiChu" formControlName="ghiChu" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_trangThai">Trạng thái</label>
          <input type="text" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Huỷ bỏ</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
