@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/zephyr/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

// .navbar-version {
//   font-size: 0.65em;
//   color: $navbar-dark-color;
// }

$sidebar-background-color: #333;
$sidebar-text-color: #fff;
$sidebar-width: 250px;

// .navbar {
//   width: $sidebar-width;
//   background-color: $sidebar-background-color;
//   color: $sidebar-text-color;
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   overflow-y: auto;
//   transition: width 0.3s;
// }

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.5s;
  z-index: 10;
  scrollbar-width: thin;

  .sidebar-brand {
    display: block;
    // padding:20px;
    // text-align: center;
    // padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar-nav {
    margin-top: 20px;

    a {
      display: block;
      padding: 10px 14px;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        color: #333;
        background-color: #e9ecef;
      }

      &:active {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}

.sidebar-collapse-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  background-color: #333;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #555;
  }

  &:before {
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sidebar-collapsed {
  width: 60px;
  background-image: '../../../content/images/logo-rang-dong.webp';

  .sidebar-brand {
    display: none;
  }

  .navbar-nav {
    .nav-item {
      a {
        .dropdown-item {
          span {
            display: none;

            .dropdown-item-span {
              margin-left: 18px;
            }
          }
        }
      }
    }
  }
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  transition: margin-left 0.5s;
}

.sidebar-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer;
}

.sidebar-content {
  padding-top: 20px;
  padding-left: 20px;
}

.sidebar-open .sidebar-content {
  padding-left: $sidebar-width;
}

.sidebar-open .sidebar-toggle {
  display: block;
}

.sidebar-img {
  max-width: 10rem;
  padding-top: 20px;
  margin-left: 5px;
  height: auto;
}
