<div>
  <h2 id="page-heading" data-cy="KhachHangHeading">
    <span>Khách hàng</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Làm mới</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-khach-hang"
        [routerLink]="['/khach-hang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Tạo mới khách hàng </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="khachHangs?.length === 0">
    <span>No khachHangs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="khachHangs && khachHangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Mã khách hàng</span></th>
          <th scope="col"><span>Tên khách hàng</span></th>
          <th scope="col"><span>Số điện thoại</span></th>
          <th scope="col"><span>Địa chỉ</span></th>
          <th scope="col"><span>Nhóm khách hàng</span></th>
          <th scope="col"><span>Tỉnh thành</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let khachHang of khachHangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/khach-hang', khachHang.id, 'view']">{{ khachHang.id }}</a>
          </td>
          <td>{{ khachHang.maKhachHang }}</td>
          <td>{{ khachHang.tenKhachHang }}</td>
          <td>{{ khachHang.soDienThoai }}</td>
          <td>{{ khachHang.diaChi }}</td>
          <td>
            <div *ngIf="khachHang.nhomKhachHang">
              <a [routerLink]="['/nhom-khach-hang', khachHang.nhomKhachHang?.id, 'view']">{{ khachHang.nhomKhachHang?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="khachHang.tinhThanh">
              <a [routerLink]="['/tinh-thanh', khachHang.tinhThanh?.id, 'view']">{{ khachHang.tinhThanh?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="">
              <button
                type="submit"
                [routerLink]="['/khach-hang', khachHang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Xem chi tiết</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/khach-hang', khachHang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Chỉnh sửa</span>
              </button>

              <button type="submit" (click)="delete(khachHang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xoá</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="khachHangs && khachHangs.length > 0">
    <div>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="itemPerPage">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="all">All</option>
      </select>
      <pagination-controls (pageChange)="page = $event" style="float: right"></pagination-controls>
    </div>
  </div>
</div>
