/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/logo-rang-dong-icon.webp') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/logo-rang-dong-icon.webp') no-repeat center top;
    background-size: contain;
  }
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  div {
    text-align: center;
  }

  img {
    max-width: 200px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: red;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  button[data-cy='login'] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[data-cy='login']:hover {
    background-color: #0056b3;
  }
}
