<div id="demo-container" class="container-slickgrid col-md-12 content">
  <div class="don-bao-hanh-header d-flex justify-content-between align-items-center">
    <h2 id="page-heading" class="mb-0">{{ title }}</h2>
    <div class="btn-header">
      <button class="btn btn-outline-dark btn-option btn-addTN me-2 btn-menu" (click)="openGridMenu($event)">
        <i class="fa fa-filter"></i>
      </button>
      <button class="btn btn-outline-primary btn-option btn-addTN me-2" (click)="openPopupThemMoi()">Thêm mới</button>
    </div>
  </div>
  <angular-slickgrid
    gridId="don-bao-hanh"
    [columnDefinitions]="columnDefinitions1"
    [gridOptions]="gridOptions1"
    [dataset]="donBaoHanhs"
    (onAngularGridCreated)="angularGridReady($event)"
    (onBeforePaginationChange)="handleOnBeforePaginationChange($event)"
  >
    <div class="alert" id="no-result" *ngIf="donBaoHanhs?.length === 0">
      <div class="loader">
        <div class="justify-content-center jimu-primary-loading"></div>
      </div>
    </div>
  </angular-slickgrid>
</div>

<!------------------------------ Popup Thêm mới ------------------------------------->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupThemMoi === true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>Thêm mới</h2>
      <hr />
      <span class="close-btn" (click)="closePopupThemMoi()">&times;</span>
    </div>
    <input type="file" class="btn btn-success btn-import" (change)="ReadExcel($event)" />
    <!-- Import -->
    <!-- <fa-icon icon="file-excel"></fa-icon> -->
    <div class="popup-content">
      <form>
        <table class="table table-striped">
          <thead style="background-color: #006699">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col">
                <span class="span-table-phanloai">Khách hàng <span style="color: red; font-size: 26px">*</span> </span>
              </th>
              <th scope="col">
                <span class="span-table-phanloai">Tổng tiếp nhận</span>
              </th>
              <th scope="col">
                <span class="span-table-phanloai">Nhân viên giao vận <span style="color: red; font-size: 26px">*</span> </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr data-cy="entityTable">
              <td>
                <input
                  type="text"
                  class="form-control"
                  list="ten_khach_Hang"
                  [(ngModel)]="donBaoHanh.khachHang!.tenKhachHang"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkDuLieuThemMoi(donBaoHanh.khachHang!.tenKhachHang)"
                />
                <datalist id="ten_khach_Hang">
                  <option *ngFor="let item of khachHangs" value="{{ item.tenKhachHang }}"></option>
                </datalist>
              </td>
              <td>
                <input
                  #searchInput
                  type="text"
                  class="form-control"
                  [(ngModel)]="donBaoHanh.slTiepNhan"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkDuLieuThemMoi(donBaoHanh.khachHang!.tenKhachHang)"
                />
              </td>
              <td>
                <input
                  #searchInput
                  type="text"
                  class="form-control"
                  [(ngModel)]="donBaoHanh.nhanVienGiaoHang"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkDuLieuThemMoi(donBaoHanh.khachHang!.tenKhachHang)"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Sản phẩm</h2>
        <div class="btn-group-phanloai">
          <div class="group-header-tiepnhan">
            <button class="btn-add btn-option" (click)="addRow()">Thêm mới</button>
            <p style="margin-top: 20px">Tổng số lượng sản phẩm: {{ ExcelData.length }}</p>
          </div>
          <div>
            <button
              type="button"
              id="cancel-save"
              data-cy="entityCreateCancelButton"
              class="btn btn-danger btn-option"
              style="margin: 15px"
              (click)="closePopupThemMoi()"
            >
              <fa-icon icon="ban"></fa-icon>&nbsp;<span>Huỷ bỏ</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="btn btn-success btn-option"
              style="margin: 15px"
              (click)="postDonBaoHanh()"
            >
              <fa-icon icon="check"></fa-icon>&nbsp;<span>Xác Nhận</span>
            </button>

            <!-- <button class="btn btn-success btn-option" style="margin: 15px">
              <fa-icon icon="check"></fa-icon>&nbsp;<span>Xác nhận</span>
            </button> -->
          </div>
        </div>
        <div class="fixed-header-table">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead style="background-color: #006699">
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                <th scope="col"><span class="span-table-phanloai">STT</span></th>
                <th scope="col" style="width: 24rem"><span class="span-table-phanloai">Tên sản phẩm</span></th>
                <th scope="col"><span class="span-table-phanloai">Số lượng giao</span></th>
                <th scope="col"><span class="span-table-phanloai">Đổi mới</span></th>
                <th scope="col"><span class="span-table-phanloai">Sửa chữa</span></th>
                <th scope="col"><span class="span-table-phanloai">Không bảo hành</span></th>
                <th scope="col"><span class="span-table-phanloai">Số lượng đã nhận</span></th>
                <th scope="col"><span class="span-table-phanloai">Option</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of themMoiDonBaoHanh; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  <input
                    class="input-table form-control"
                    type="text"
                    [(ngModel)]="data.tenSanPham"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    class="input-table form-control"
                    type="text"
                    [(ngModel)]="data.slKhachGiao"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    class="input-table form-control"
                    type="text"
                    [(ngModel)]="data.slDoiMoi"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="updateChiTietDonBaoHanhInfo(data.slDoiMoi, data.slSuaChua, data.slKhongBaoHanh, data.slNhan, i)"
                  />
                </td>
                <td>
                  <input
                    class="input-table form-control"
                    type="text"
                    [(ngModel)]="data.slSuaChua"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="updateChiTietDonBaoHanhInfo(data.slDoiMoi, data.slSuaChua, data.slKhongBaoHanh, data.slNhan, i)"
                  />
                </td>
                <td>
                  <input
                    class="input-table form-control"
                    type="text"
                    [(ngModel)]="data.slKhongBaoHanh"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="updateChiTietDonBaoHanhInfo(data.slDoiMoi, data.slSuaChua, data.slKhongBaoHanh, data.slNhan, i)"
                  />
                </td>
                <td>
                  <input class="input-table form-control" type="text" [(ngModel)]="data.slNhan" [ngModelOptions]="{ standalone: true }" />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteRow(data.tenSanPham)">Xoá</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
<!--------------------------------------------- POPUP chỉnh sửa thông tin chung --------------------------------------------------->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupChinhSuaThongTin === true">
  <div class="popup-container-edit">
    <div class="popup-header">
      <h2>Chỉnh sửa thông tin</h2>
      <hr />
      <span class="close-btn" (click)="closePopupEdit()">&times;</span>
    </div>
    <div class="popup-content">
      <form>
        <div class="row mb-3">
          <label for="field_khachHang" class="form-label-header">Khách hàng</label>
          <input
            type="text"
            class="form-control"
            list="field_khachHang"
            data-cy="khachHang"
            [(ngModel)]="thongTinDonBaoHanh.tenKhachHang"
            [ngModelOptions]="{ standalone: true }"
            (change)="capNhatThongTinKhachHang(thongTinDonBaoHanh.tenKhachHang)"
          />
          <datalist id="field_khachHang">
            <option *ngFor="let item of khachHangs" value="{{ item.tenKhachHang }}"></option>
          </datalist>
        </div>
        <div class="row mb-3">
          <label for="field_tongTiepNhan" class="form-label-header">Tổng tiếp nhận</label>
          <input
            type="number"
            class="form-control"
            name="tongTiepNhan"
            id="field_tongTiepNhan"
            data-cy="tongTiepNhan"
            [(ngModel)]="thongTinDonBaoHanh.slTiepNhan"
            [ngModelOptions]="{ standalone: true }"
            disabled
          />
        </div>
        <div class="row mb-3">
          <label for="field_daXuLy" class="form-label-header">Đã xử lý</label>
          <input
            type="number"
            class="form-control"
            name="daXuLy"
            id="field_daXuLy"
            data-cy="daXuLy"
            [(ngModel)]="thongTinDonBaoHanh.slDaPhanTich"
            [ngModelOptions]="{ standalone: true }"
            disabled
          />
        </div>
        <div class="row mb-3">
          <label for="field_trangThai" class="form-label-header">Trạng thái</label>
          <input
            type="text"
            class="form-control"
            name="trangThai"
            id="field_trangThai"
            data-cy="trangThai"
            [(ngModel)]="thongTinDonBaoHanh.trangThai"
            [ngModelOptions]="{ standalone: true }"
            (change)="capNhatThongTinKhachHang(thongTinDonBaoHanh.tenKhachHang)"
          />
        </div>
      </form>
    </div>
    <div class="popup-footer">
      <button class="btn btn-danger btn-option" (click)="closePopupEdit()" type="button"><fa-icon icon="ban"></fa-icon>&nbsp;Huỷ</button>
      <button class="btn btn-success btn-option" (click)="xacNhanCapNhatDonBaoHanh()">
        <fa-icon icon="check"></fa-icon>&nbsp;Xác nhận
      </button>
    </div>
  </div>
</div>
<!------------------------------------------------------- Popup phân loại sản phẩm ------------------------------------------------------->
<div class="table-responsive popup-background" role="dialog" *ngIf="popupPhanLoai === true">
  <div class="popup-container">
    <div class="popup-header">
      <h2>Phân loại</h2>
      <span class="close-btn" (click)="closePopupPhanLoai()">&times;</span>
    </div>
    <div class="popup-content">
      <form>
        <table class="table table-striped">
          <thead style="background-color: #006699">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Mã tiếp nhận</span>
              </th>
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Nhân viên giao vận</span>
              </th>
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Khách hàng</span>
              </th>
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Tổng tiếp nhận</span>
              </th>
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Đã xử lý</span>
              </th>
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Ngày tạo đơn</span>
              </th>
              <!-- <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Ngày trả biên bản</span>
              </th> -->
              <th scope="col" jhiSortBy="">
                <span class="span-table-phanloai">Trạng thái</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr data-cy="entityTable">
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  [(ngModel)]="donBaoHanh.maTiepNhan"
                  [ngModelOptions]="{ standalone: true }"
                  disabled
                />
              </td>
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  [(ngModel)]="donBaoHanh.nhanVienGiaoHang"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkDuLieuThemMoi(donBaoHanh.tenKhachHang)"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  list="field_khachHang_phan_loai"
                  [(ngModel)]="donBaoHanh.tenKhachHang"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="checkDuLieuThemMoi(donBaoHanh.tenKhachHang)"
                  style="width: 28vw"
                  disabled
                />
                <datalist id="field_khachHang_phan_loai">
                  <option *ngFor="let item of khachHangs" value="{{ item.tenKhachHang }}"></option>
                </datalist>
              </td>
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  [(ngModel)]="donBaoHanh.slTiepNhan"
                  [ngModelOptions]="{ standalone: true }"
                  disabled
                />
              </td>
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  [(ngModel)]="donBaoHanh.slDaPhanTich"
                  [ngModelOptions]="{ standalone: true }"
                  disabled
                />
              </td>
              <td style="padding-top: 15px">
                {{ donBaoHanh.ngayTiepNhan | date: 'YYYY-MM-dd hh:mm:ss ' }}
              </td>
              <!-- <td style="padding-top: 15px">{{ donBaoHanh.ngayTraBienBan | date: 'YYYY-MM-dd hh:mm:ss ' }}</td> -->
              <td>
                <input
                  type="text"
                  class="input-table form-control"
                  [ngStyle]="getStyle(donBaoHanh.trangThai)"
                  [(ngModel)]="donBaoHanh.trangThai"
                  [ngModelOptions]="{ standalone: true }"
                  disabled
                />
                <!-- <span class="status-label" [ngStyle]="getStyle(donBaoHanh.trangThai)">
                  {{ donBaoHanh.trangThai }}
                </span> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="info-card">
          <h2>Thông tin chi tiết mã tiếp nhận</h2>

          <div class="btn-group-phanloai">
            <div class="group-header-phanloai">
              <button class="btn-add btn-option" (click)="addRow()">Thêm mới</button>
              <p style="margin-top: 20px">Tổng số lượng sản phẩm: {{ resultChiTietSanPhamTiepNhans.length }}</p>
              <p style="margin-top: 20px">
                Tiến độ: {{ countItem }}/{{ resultChiTietSanPhamTiepNhans.length
                }}<input type="range" id="donBaoHanh" [(ngModel)]="tienDo" [ngModelOptions]="{ standalone: true }" /> {{ tienDo }}%
              </p>
            </div>
            <div class="btn-header-phanloai">
              <button type="button" (click)="closePopupPhanLoai()" class="btn btn-danger btn-option" style="float: right; height: 35px">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span>Huỷ</span>
              </button>
              <!-- <button type="submit" id="save-entity" class="btn btn-primary">Xác nhận</button> -->
              <button
                *ngIf="tienDo === 100"
                type="submit"
                id="save-entity"
                class="btn btn-success btn-option"
                style="float: right; height: 35px"
                (click)="xacNhanPhanLoai()"
              >
                Hoàn thành
              </button>
              <button *ngIf="isChanged === true" type="submit" id="save-entity" class="btn btn-primary" (click)="xacNhanPhanLoai()">
                Lưu
              </button>
            </div>
          </div>
          <div class="fixed-header-table">
            <div class="table-toolbar">
              <div class="search-group">
                <label for="searchKey">Tìm kiếm sản phẩm:</label>
                <input
                  type="text"
                  id="searchKey"
                  class="form-control"
                  [(ngModel)]="searchKey"
                  [ngModelOptions]="{ standalone: true }"
                  (change)="searchInPopupPhanLoai()"
                  list="ten_san_pham"
                />
                <datalist id="ten_san_pham">
                  <option *ngFor="let item of danhSachGocPopupPhanLoai" [value]="item.tenSanPham"></option>
                </datalist>
              </div>
              <div class="checkbox-group">
                <label class="label_checkAll">
                  <input type="checkbox" class="ui-checkbox" [checked]="checkAll" (change)="phanLoaiCheckAll()" />
                  <span> Chọn tất cả </span>
                </label>
              </div>
            </div>

            <table class="table table-striped" aria-describedby="page-heading">
              <thead style="background-color: #006699">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">STT</span>
                    <!-- <input class="inp-hidden" style="height: 35px; width: 10px" disabled /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block; width: 35em">Tên sản phẩm</span>
                    <!-- <input type="text" placeholder="Tìm kiếm" class="form-control" list="ten_san_pham"
                      [(ngModel)]="searchKey" [ngModelOptions]="{ standalone: true }"
                      (change)="searchInPopupPhanLoai()" />
                    <datalist id="ten_san_pham">
                      <option *ngFor="let item of danhSachGocPopupPhanLoai" value="{{ item.tenSanPham }}"></option>
                    </datalist> -->
                  </th>
                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Số lượng khách giao</span>
                    <!-- <input class="inp-hidden" style="height: 35px" disabled /> -->
                  </th>
                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Đổi mới</span>
                    <!-- <input class="inp-hidden" style="height: 35px" disabled /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Sửa chữa</span>
                    <!-- <input class="inp-hidden" style="height: 35px" disabled /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Không bảo hành</span>
                    <!-- <input class="inp-hidden" style="height: 35px" disabled /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Số lượng đã nhận</span>
                    <!-- <input class="inp-hidden" style="height: 35px" disabled /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">checkBox</span>
                    <!-- <input type="checkbox" class="ui-checkbox" [checked]="checkAll" (change)="phanLoaiCheckAll()" /> -->
                  </th>

                  <th scope="col">
                    <span class="span-table-phanloai" style="display: block">Option</span>
                    <!-- <input class="inp-hidden" style="height: 37px; width: 10px" disabled /> -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of resultChiTietSanPhamTiepNhans; let i = index; trackBy: trackByResult" class="editable-row">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <input
                      type="text"
                      class="input-table form-control"
                      [(ngModel)]="data.tenSanPham"
                      [ngModelOptions]="{ standalone: true }"
                      list="field_danh_sach_san_pham"
                      (change)="updateTenSanPham(data.tenSanPham, i)"
                    />
                    <datalist id="field_danh_sach_san_pham">
                      <option *ngFor="let item of danhSachSanPham" value="{{ item.name }}"></option>
                    </datalist>
                  </td>
                  <td>
                    <input
                      type="number"
                      class="input-table form-control"
                      [(ngModel)]="data.slKhachGiao"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="updatePopupPhanLoai(i)"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="input-table form-control"
                      [(ngModel)]="data.slDoiMoi"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="updatePopupPhanLoai(i)"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="input-table form-control"
                      [(ngModel)]="data.slSuaChua"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="updatePopupPhanLoai(i)"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="input-table form-control"
                      [(ngModel)]="data.slKhongBaoHanh"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="updatePopupPhanLoai(i)"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="input-table form-control"
                      [(ngModel)]="data.slTiepNhan"
                      [ngModelOptions]="{ standalone: true }"
                      disabled
                    />
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      class="ui-checkbox"
                      [(ngModel)]="data.tinhTrangBaoHanh"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="updateSignalPhanLoai(i)"
                    />
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteRowPopupPhanLoai(data.id)">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <pagination-controls (pageChange)="page = $event" style="float: right"></pagination-controls>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!------------------------------------------------------- Popup chọn liên in biên bản ------------------------------------------------->
<div class="table-responive popup-background" role="dialog" *ngIf="popupInBBTN === true">
  <div class="popup-container-btn-group">
    <div class="popup-header-btn">
      <h2>Chọn in biên bản theo liên</h2>
      <span class="close-btn" style="float: right" (click)="closePopupBBTN()">&times;</span>
    </div>
    <hr />
    <div id="hiddenToolbar" class="group-btn-inBB">
      <div class="btn-group">
        <button type="button" class="btn-options-in" (click)="openPopupInBBTN1()">Liên 1: Lưu tổ phục vụ đổi sản phẩm</button>
        <button type="button" class="btn-options-in" (click)="openPopupInBBTN2()">Liên 2: Khách hàng</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn-options-in" (click)="openPopupInBBTN3()">Liên 3: P. KHTT</button>
        <button type="button" class="btn-options-in" (click)="openPopupInBBTN4()">Liên 4: Phòng BH1</button>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" id="popupNoti">
  <div class="popup">
    <h3>{{ popupMessage }}</h3>
    <button (click)="closePopupNoti()">Close</button>
  </div>
</div>

<div class="modal-confirm" [ngClass]="{ active: isModalOpenConfirm }">
  <div class="modal-content-confirm">
    <span class="close-modal-confirm" (click)="closeModalConfirm()">&times;</span>
    <h3>Bạn chắc chắn muốn xóa thông số này?</h3>
    <button class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
    <button class="btn btn-primary" (click)="closeModalConfirm()">Hủy</button>
  </div>
</div>

<div class="modal-confirm" id="modal-confirm-add" [ngClass]="{ active: isModalOpenConfirmAdd }">
  <div class="modal-content-confirm">
    <span class="close-modal-confirm" (click)="closeModalConfirmAdd()">&times;</span>
    <h3>Bạn chắc chắn muốn xóa thông số này?</h3>
    <button class="btn btn-danger" (click)="confirmDeleteRowAdd()">Xóa</button>
    <button class="btn btn-primary" (click)="closeModalConfirmAdd()">Hủy</button>
  </div>
</div>

<div class="modal-confirm" id="modal-confirm-save">
  <div class="modal-content-confirm">
    <span class="close-modal-confirm" (click)="closeModalConfirmSave()">&times;</span>
    <h3>Xác nhận lưu sự thay đổi</h3>
    <button class="btn btn-primary" (click)="confirmSave()">OK</button>
    <button class="btn btn-danger" (click)="closeModalConfirmSave()">Hủy</button>
  </div>
</div>

<!-- In 4 liên của biên bản tiếp nhận -->
<div *ngIf="loading" class="loading-spinner">
  <div class="spinner">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>

<div class="table-responive popup-background" role="dialog" *ngIf="popupInBBTNtest === true">
  <div class="popup-container popup-in">
    <div class="popup-header-in">
      <span class="close-btn" style="float: right" (click)="closePopupInBBTNTest()">&times;</span>
      <div id="hiddenToolbar">
        <button
          type="button"
          class="btn btn-primary"
          printTitle="BIÊN BẢN GIAO NHẬN SẢN PHẨM ĐỔI"
          (click)="xacNhanInBienBan()"
          printSectionId="BBTN"
          style="position: relative; z-index: 5"
          ngxPrint
        >
          <fa-icon [icon]="faPrint" style="padding-right: 5px"></fa-icon> In
        </button>
        <!-- <button type="button" class="btn btn-success" style="float: right" (click)="addRow()">Thêm dòng</button> -->
      </div>
      <div id="BBTN">
        <div id="lien1">
          <header>
            <div class="row">
              <div class="col-6" align="left" style="height: 0px">
                <img
                  src="../../../../content/images/logoRD.png"
                  alt="CÔNG TY CP BÓNG ĐÈN PHÍCH NƯỚC RẠNG ĐÔNG"
                  width="150"
                  style="margin-top: -30px; margin-left: 30px"
                />
              </div>
              <div class="col-6" align="right">RĐ.QID05.BM01 Ban hành lần 1</div>
            </div>
          </header>
          <div align="center">
            <h3 style="margin-top: -20px">BIÊN BẢN GIAO NHẬN SẢN PHẨM ĐỔI</h3>
            <p style="text-align: center">Liên 1: Lưu tổ phục vụ đổi sản phẩm</p>
          </div>
          <div align="right" style="margin-right: 80px; font-size: 14px; margin-top: -30px">Số: {{ maBienBan }}</div>
          <br />
          <div style="display: flex; justify-content: space-between">
            <div>
              <p>
                Ngày {{ dateTN }} tháng {{ monthTN }} năm 20{{ yearTN }}
                Công ty CP Bóng đèn Phích nước Rạng Đông nhận sản phẩm đổi của
              </p>
              <p>Ông (Bà): {{ donBaoHanh.tenKhachHang }}</p>
              <p>Địa chỉ: {{ donBaoHanh.diaChi }}</p>
              <div>Kèm giấy đề nghị đổi sản phẩm (nếu có) ngày ... tháng ... năm 20...</div>
            </div>
            <div>
              <div align="right" style="margin-right: 92px">
                <qrcode [qrdata]="donBaoHanh.maTiepNhan" [width]="10" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
              </div>
              <br />
              <div align="right" style="margin-right: 94px; font-size: 14px; margin-top: -30px">{{ donBaoHanh.maTiepNhan }}</div>
            </div>
          </div>
          <div>
            <table id="table" class="table-TN" style="min-width: 82vw; border-spacing: 0px">
              <thead>
                <tr>
                  <th style="width: 1rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    STT
                  </th>
                  <th style="width: 30rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Tên sản phẩm
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Đ.vị tính
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL khách giao
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL thực nhận
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP đổi mới
                  </th>
                  <th
                    style="width: 3.5rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black"
                  >
                    SL SP sửa chữa
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP không được bảo hành
                  </th>
                  <th style="width: 10rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Lý do không bảo hành
                  </th>
                  <th style="width: 10rem; border: 0.5px solid black">Lý do sửa chữa</th>
                </tr>
              </thead>
              <tbody class="body-table" *ngFor="let data of resultChiTietSanPhamTiepNhans; let i = index">
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ i + 1 }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.tenSanPham }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.donVi }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhachGiao }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slTiepNhan }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slDoiMoi }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slSuaChua }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhongBaoHanh }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black"></td>
                <td
                  style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; border-right: 0.5px solid black"
                ></td>
              </tbody>
            </table>
          </div>
          <div class="notes">
            <p>
              Biên bản được lập thành 03 liên (hoặc 4 liên): liên 1 lưu Tổ bảo hành sản phẩm, liên 2 giao khách hàng, liên 3 giao P. Kh,
              liên 4 giao P. BH1 (Với trường hợp khách hàng là C1, 2 Miền Bắc). Đối với chi nhánh (2 liên): liên 1 lưu chi nhánh, liên 2
              giao khách hàng
            </p>
            <p><strong>Lưu ý: Khi khách hàng lấy sản phẩm đổi, phải giao liên 2 cho thủ kho công ty</strong></p>
          </div>
          <footer>
            <div class="row" style="margin-left: -4rem; display: flex; justify-content: space-around">
              <div class="col" style="text-align: center"><strong>ĐẠI DIỆN KHÁCH HÀNG</strong></div>
              <div class="col" style="text-align: center"><strong>BẢO VỆ</strong></div>
              <div class="col" style="text-align: center">
                <strong>TỔ BẢO HÀNH SẢN PHẨM</strong><br />
                <a [href]="selectedValue" style="display: block; margin-top: 6rem; text-decoration: none; color: black">{{
                  selectedValue
                }}</a>
                <select style="float: right; margin-right: 12em" (change)="onSelectChanged($event)">
                  <option value="Đỗ Văn Việt">Đỗ Văn Việt</option>
                  <option value="Phạm Văn Mạnh">Phạm Văn Mạnh</option>
                  <option value="Trần Thạc Nguyên">Trần Thạc Nguyên</option>
                  <option value="Nguyễn Văn Tiến">Nguyễn Văn Tiến</option>
                  <option value="Lê Huy Sang">Lê Huy Sang</option>
                  <option value="Phan Đăng Tỵ">Phan Đăng Tỵ</option>
                </select>
              </div>
            </div>
          </footer>
          <p style="page-break-after: always"></p>
          <br />
          <br />

          <header>
            <div class="row">
              <div class="col-6" align="left" style="height: 0px">
                <img
                  src="../../../../content/images/logoRD.png"
                  alt="CÔNG TY CP BÓNG ĐÈN PHÍCH NƯỚC RẠNG ĐÔNG"
                  width="150"
                  style="margin-top: -30px; margin-left: 30px"
                />
              </div>
              <div class="col-6" align="right">RĐ.QID05.BM01 Ban hành lần 1</div>
            </div>
          </header>
          <div align="center">
            <h3 style="margin-top: -20px">BIÊN BẢN GIAO NHẬN SẢN PHẨM ĐỔI</h3>
            <p style="text-align: center">Liên 2: Khách hàng</p>
          </div>
          <div align="right" style="margin-right: 80px; font-size: 14px; margin-top: -30px">Số: {{ maBienBan }}</div>
          <br />
          <div style="display: flex; justify-content: space-between; margin-bottom: 5px">
            <div>
              <p>
                Ngày {{ dateTN }} tháng {{ monthTN }} năm 20{{ yearTN }}
                Công ty CP Bóng đèn Phích nước Rạng Đông nhận sản phẩm đổi của
              </p>
              <p>Ông (Bà): {{ donBaoHanh.tenKhachHang }}</p>
              <p>Địa chỉ: {{ donBaoHanh.diaChi }}</p>
              <div>Kèm giấy đề nghị đổi sản phẩm (nếu có) ngày ... tháng ... năm 20...</div>
            </div>
            <div>
              <div align="right" style="margin-right: 92px">
                <qrcode [qrdata]="donBaoHanh.maTiepNhan" [width]="10" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
              </div>
              <br />
              <div align="right" style="margin-right: 94px; font-size: 14px; margin-top: -30px">{{ donBaoHanh.maTiepNhan }}</div>
            </div>
          </div>
          <div>
            <table id="table" class="table-TN" style="min-width: 82vw; border-spacing: 0px">
              <thead>
                <tr>
                  <th style="width: 1rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    STT
                  </th>
                  <th style="width: 30rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Tên sản phẩm
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Đ.vị tính
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL khách giao
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL thực nhận
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP đổi mới
                  </th>
                  <th
                    style="width: 3.5rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black"
                  >
                    SL SP sửa chữa
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP không được bảo hành
                  </th>
                  <th style="width: 10rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Lý do không bảo hành
                  </th>
                  <th style="width: 10rem; border: 0.5px solid black">Lý do sửa chữa</th>
                </tr>
              </thead>
              <tbody class="body-table" *ngFor="let data of resultChiTietSanPhamTiepNhans; let i = index">
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ i + 1 }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.tenSanPham }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.donVi }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhachGiao }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slTiepNhan }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slDoiMoi }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slSuaChua }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhongBaoHanh }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black"></td>
                <td
                  style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; border-right: 0.5px solid black"
                ></td>
              </tbody>
            </table>
          </div>
          <div class="notes">
            <p>
              Biên bản được lập thành 03 liên (hoặc 4 liên): liên 1 lưu Tổ bảo hành sản phẩm, liên 2 giao khách hàng, liên 3 giao P. Kh,
              liên 4 giao P. BH1 (Với trường hợp khách hàng là C1, 2 Miền Bắc). Đối với chi nhánh (2 liên): liên 1 lưu chi nhánh, liên 2
              giao khách hàng
            </p>
            <p><strong>Lưu ý: Khi khách hàng lấy sản phẩm đổi, phải giao liên 2 cho thủ kho công ty</strong></p>
          </div>
          <footer>
            <div class="row" style="margin-left: -4rem; display: flex; justify-content: space-around">
              <div class="col" style="text-align: center"><strong>ĐẠI DIỆN KHÁCH HÀNG</strong></div>
              <div class="col" style="text-align: center"><strong>BẢO VỆ</strong></div>
              <div class="col" style="text-align: center">
                <strong>TỔ BẢO HÀNH SẢN PHẨM</strong><br />
                <a [href]="selectedValue" style="display: block; margin-top: 6rem; text-decoration: none; color: black">{{
                  selectedValue
                }}</a>
              </div>
            </div>
          </footer>
          <p style="page-break-after: always"></p>
          <br />
          <br />

          <header>
            <div class="row">
              <div class="col-6" align="left" style="height: 0px">
                <img
                  src="../../../../content/images/logoRD.png"
                  alt="CÔNG TY CP BÓNG ĐÈN PHÍCH NƯỚC RẠNG ĐÔNG"
                  width="150"
                  style="margin-top: -30px; margin-left: 30px"
                />
              </div>
              <div class="col-6" align="right">RĐ.QID05.BM01 Ban hành lần 1</div>
            </div>
          </header>
          <div align="center">
            <h3 style="margin-top: -20px">BIÊN BẢN GIAO NHẬN SẢN PHẨM ĐỔI</h3>
            <p style="text-align: center">Liên 3: P. KHTT</p>
          </div>
          <div align="right" style="margin-right: 80px; font-size: 14px; margin-top: -30px">Số: {{ maBienBan }}</div>
          <br />
          <div style="display: flex; justify-content: space-between; margin-bottom: 5px">
            <div>
              <p>
                Ngày {{ dateTN }} tháng {{ monthTN }} năm 20{{ yearTN }}
                Công ty CP Bóng đèn Phích nước Rạng Đông nhận sản phẩm đổi của
              </p>
              <p>Ông (Bà): {{ donBaoHanh.tenKhachHang }}</p>
              <p>Địa chỉ: {{ donBaoHanh.diaChi }}</p>
              <div>Kèm giấy đề nghị đổi sản phẩm (nếu có) ngày ... tháng ... năm 20...</div>
            </div>
            <div>
              <div align="right" style="margin-right: 92px">
                <qrcode [qrdata]="donBaoHanh.maTiepNhan" [width]="10" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
              </div>
              <br />
              <div align="right" style="margin-right: 94px; font-size: 14px; margin-top: -30px">{{ donBaoHanh.maTiepNhan }}</div>
            </div>
          </div>
          <div>
            <table id="table" class="table-TN" style="min-width: 82vw; border-spacing: 0px">
              <thead>
                <tr>
                  <th style="width: 1rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    STT
                  </th>
                  <th style="width: 30rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Tên sản phẩm
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Đ.vị tính
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL khách giao
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL thực nhận
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP đổi mới
                  </th>
                  <th
                    style="width: 3.5rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black"
                  >
                    SL SP sửa chữa
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP không được bảo hành
                  </th>
                  <th style="width: 10rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Lý do không bảo hành
                  </th>
                  <th style="width: 10rem; border: 0.5px solid black">Lý do sửa chữa</th>
                </tr>
              </thead>
              <tbody class="body-table" *ngFor="let data of resultChiTietSanPhamTiepNhans; let i = index">
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ i + 1 }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.tenSanPham }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.donVi }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhachGiao }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slTiepNhan }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slDoiMoi }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slSuaChua }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhongBaoHanh }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black"></td>
                <td
                  style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; border-right: 0.5px solid black"
                ></td>
              </tbody>
            </table>
          </div>
          <div class="notes">
            <p>
              Biên bản được lập thành 03 liên (hoặc 4 liên): liên 1 lưu Tổ bảo hành sản phẩm, liên 2 giao khách hàng, liên 3 giao P. Kh,
              liên 4 giao P. BH1 (Với trường hợp khách hàng là C1, 2 Miền Bắc). Đối với chi nhánh (2 liên): liên 1 lưu chi nhánh, liên 2
              giao khách hàng
            </p>
            <p><strong>Lưu ý: Khi khách hàng lấy sản phẩm đổi, phải giao liên 2 cho thủ kho công ty</strong></p>
          </div>
          <footer>
            <div class="row" style="margin-left: -4rem; display: flex; justify-content: space-around">
              <div class="col" style="text-align: center"><strong>ĐẠI DIỆN KHÁCH HÀNG</strong></div>
              <div class="col" style="text-align: center"><strong>BẢO VỆ</strong></div>
              <div class="col" style="text-align: center">
                <strong>TỔ BẢO HÀNH SẢN PHẨM</strong><br />
                <a [href]="selectedValue" style="display: block; margin-top: 6rem; text-decoration: none; color: black">{{
                  selectedValue
                }}</a>
              </div>
            </div>
          </footer>
          <!-- <p style="page-break-after: always"></p>
          <br />
          <br /> -->

          <!-- <header>
            <div class="row">
              <div class="col-6" align="left" style="height: 0px">
                <img
                  src="../../../../content/images/logoRD.png"
                  alt="CÔNG TY CP BÓNG ĐÈN PHÍCH NƯỚC RẠNG ĐÔNG"
                  width="150"
                  style="margin-top: -30px; margin-left: 30px"
                />
              </div>
              <div class="col-6" align="right">RĐ.QID05.BM01 Ban hành lần 1</div>
            </div>
          </header>
          <div align="center">
            <h3 style="margin-top: -20px">BIÊN BẢN GIAO NHẬN SẢN PHẨM ĐỔI</h3>
            <p style="text-align: center">Liên 4: Phòng BH1</p>
          </div>
          <div align="right" style="margin-right: 80px; font-size: 14px; margin-top: -30px">Số: {{ maBienBan }}</div>
          <br />
          <div style="display: flex; justify-content: space-between; margin-bottom: 5px">
            <div>
              <p>
                Ngày {{ maBienBan.substr(2, 2) }} tháng {{ maBienBan.substr(4, 2) }} năm 20{{ maBienBan.substr(6, 2) }}
                Công ty CP Bóng đèn Phích nước Rạng Đông nhận sản phẩm đổi của
              </p>
              <p>Ông (Bà): {{ donBaoHanh.tenKhachHang }}</p>
              <p>Địa chỉ: {{ donBaoHanh.diaChi }}</p>
              <div>Kèm giấy đề nghị đổi sản phẩm (nếu có) ngày ... tháng ... năm 20...</div>
            </div>
            <div>
              <div align="right" style="margin-right: 92px">
                <qrcode [qrdata]="donBaoHanh.maTiepNhan" [width]="10" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
              </div>
              <br />
              <div align="right" style="margin-right: 94px; font-size: 14px; margin-top: -30px">{{ donBaoHanh.maTiepNhan }}</div>
            </div>
          </div>
          <div>
            <table id="table" class="table-TN" style="min-width: 82vw; border-spacing: 0px">
              <thead>
                <tr>
                  <th style="width: 1rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    STT
                  </th>
                  <th style="width: 30rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Tên sản phẩm
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Đ.vị tính
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL khách giao
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL thực nhận
                  </th>
                  <th style="width: 3rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP đổi mới
                  </th>
                  <th
                    style="width: 3.5rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black"
                  >
                    SL SP sửa chữa
                  </th>
                  <th style="width: 4rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    SL SP không được bảo hành
                  </th>
                  <th style="width: 10rem; border-left: 0.5px solid black; border-top: 0.5px solid black; border-bottom: 0.5px solid black">
                    Lý do không bảo hành
                  </th>
                  <th style="width: 10rem; border: 0.5px solid black">Lý do sửa chữa</th>
                </tr>
              </thead>
              <tbody class="body-table" *ngFor="let data of resultChiTietSanPhamTiepNhans; let i = index">
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ i + 1 }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.tenSanPham }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black">{{ data.donVi }}</td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhachGiao }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slTiepNhan }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slDoiMoi }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slSuaChua }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; text-align: center">
                  {{ data.slKhongBaoHanh }}
                </td>
                <td style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black"></td>
                <td
                  style="height: 36px; border-left: 0.5px solid black; border-bottom: 0.5px solid black; border-right: 0.5px solid black"
                ></td>
              </tbody>
            </table>
          </div>
          <div class="notes">
            <p>
              Biên bản được lập thành 03 liên (hoặc 4 liên): liên 1 lưu Tổ bảo hành sản phẩm, liên 2 giao khách hàng, liên 3 giao P. Kh,
              liên 4 giao P. BH1 (Với trường hợp khách hàng là C1, 2 Miền Bắc). Đối với chi nhánh (2 liên): liên 1 lưu chi nhánh, liên 2
              giao khách hàng
            </p>
            <p><strong>Lưu ý: Khi khách hàng lấy sản phẩm đổi, phải giao liên 2 cho thủ kho công ty</strong></p>
          </div>
          <footer>
            <div class="row" style="margin-left: -4rem; display: flex; justify-content: space-around">
              <div class="col" style="text-align: center"><strong>ĐẠI DIỆN KHÁCH HÀNG</strong></div>
              <div class="col" style="text-align: center"><strong>BẢO VỆ</strong></div>
              <div class="col" style="text-align: center">
                <strong>TỔ BẢO HÀNH SẢN PHẨM</strong><br />
                <a [href]="selectedValue" style="display: block; margin-top: 6rem; text-decoration: none; color: black">{{
                  selectedValue
                }}</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <select style="float: right; margin-right: 12em" (change)="onSelectChanged($event)">
        <option value="Đỗ Văn Việt">Đỗ Văn Việt</option>
        <option value="Phạm Văn Mạnh">Phạm Văn Mạnh</option>
        <option value="Trần Thạc Nguyên">Trần Thạc Nguyên</option>
        <option value="Nguyễn Văn Tiến">Nguyễn Văn Tiến</option>
        <option value="Lê Huy Sang">Lê Huy Sang</option>
        <option value="Phan Đăng Tỵ">Phan Đăng Tỵ</option>
      </select> -->
        </div>
      </div>
    </div>
  </div>
</div>
