<div>
  <h2 id="page-heading" data-cy="NganhHeading">
    <span>Ngành</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Làm mới</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nganh"
        [routerLink]="['/nganh/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Tạo mới Ngành </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nganhs?.length === 0">
    <span>No nganhs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nganhs && nganhs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Mã ngành</span></th>
          <th scope="col"><span>Tên ngành</span></th>
          <th scope="col"><span>Ngày tạo</span></th>
          <th scope="col"><span>Username</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nganh of nganhs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nganh', nganh.id, 'view']">{{ nganh.id }}</a>
          </td>
          <td>{{ nganh.maNganh }}</td>
          <td>{{ nganh.tenNganh }}</td>
          <td>{{ nganh.ngayTao | formatMediumDatetime }}</td>
          <td>{{ nganh.username }}</td>
          <td class="text-end">
            <div class="">
              <button type="submit" [routerLink]="['/nganh', nganh.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Xem chi tiết</span>
              </button>

              <button type="submit" [routerLink]="['/nganh', nganh.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Chỉnh sửa</span>
              </button>

              <button type="submit" (click)="delete(nganh)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xoá</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="nganhs && nganhs.length > 0">
    <div>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="itemPerPage">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="all">All</option>
      </select>
      <pagination-controls (pageChange)="page = $event" style="float: right"></pagination-controls>
    </div>
  </div>
</div>
