@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/zephyr/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  display: flex;
  flex-direction: row-reverse;
  padding: 1%;
  margin-top: 20px;
  border: none;
  height: 90vh;
  width: auto;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
// Xét vị trí cho số lượng
.column-item {
  text-align: center;
}
.card {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: auto;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  background-color: #333;
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
::ng-deep datalist {
  position: absolute;
  max-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  transition: margin-left 0.5s;
}
@media print {
  body * {
    visibility: hidden;
  }

  #BBTN,
  #BBTN * {
    visibility: visible;
  }

  #BBTN {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 2rem !important;
  }

  h3 {
    margin: 0 !important;
    font-size: 18px !important;
  }

  .print-title {
    margin-top: 1rem !important;
    text-align: center !important;
  }

  /* Đảm bảo các font size được áp dụng trong print */
  .font-size-12px,
  .font-size-12px * {
    font-size: 12px !important;
  }

  .font-size-14px,
  .font-size-14px * {
    font-size: 14px !important;
  }

  .font-size-16px,
  .font-size-16px * {
    font-size: 16px !important;
  }

  .font-size-18px,
  .font-size-18px * {
    font-size: 18px !important;
  }

  .font-size-20px,
  .font-size-20px * {
    font-size: 20px !important;
  }

  /* Override tất cả font-size trong print */
  table,
  th,
  td,
  p,
  div,
  span {
    font-size: inherit !important;
  }
}
