<div>
  <h2 id="page-heading" data-cy="PhanTichLoiHeading">
    <span>Phân tích lỗi</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Làm mới</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phan-tich-loi"
        [routerLink]="['/phan-tich-loi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Phan Tich Loi </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phanTichLois?.length === 0">
    <span>No phanTichLois found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phanTichLois && phanTichLois.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Số lượng</span></th>
          <th scope="col"><span>Ngày phân tích</span></th>
          <th scope="col"><span>Username</span></th>
          <th scope="col"><span>Ghi chú</span></th>
          <th scope="col"><span>Lỗi</span></th>
          <th scope="col"><span>Phân tích sản phẩm</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phanTichLoi of phanTichLois; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phan-tich-loi', phanTichLoi.id, 'view']">{{ phanTichLoi.id }}</a>
          </td>
          <td>{{ phanTichLoi.soLuong }}</td>
          <td>{{ phanTichLoi.ngayPhanTich | formatMediumDatetime }}</td>
          <td>{{ phanTichLoi.username }}</td>
          <td>{{ phanTichLoi.ghiChu }}</td>
          <td>
            <div *ngIf="phanTichLoi.loi">
              <a [routerLink]="['/loi', phanTichLoi.loi?.id, 'view']">{{ phanTichLoi.loi?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="phanTichLoi.phanTichSanPham">
              <a [routerLink]="['/phan-tich-san-pham', phanTichLoi.phanTichSanPham?.id, 'view']">{{ phanTichLoi.phanTichSanPham?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phan-tich-loi', phanTichLoi.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phan-tich-loi', phanTichLoi.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(phanTichLoi)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="phanTichLois && phanTichLois.length > 0">
    <div>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="itemPerPage">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="all">All</option>
      </select>
      <pagination-controls (pageChange)="page = $event" style="float: right"></pagination-controls>
    </div>
  </div>
</div>
